* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  position: relative;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
nav {
  /* box-shadow: 0px 5px  5px gray; */
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 10px -10px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style-type: none;
  font-weight: bolder;
  padding-bottom: 10px;
}
li {
  /* margin-right: 30px; */
}
li button {
  background-color: green;
  width: 100px;
  height: 33px;
  margin: 10px 0px 0px 160px;
  border-radius: 7%;
}
li img {
  width: 80px;
  height: 60px;
  margin: 10px 0px 0 10px;
}
.bloc {
  margin: 10px 0px 0px 120px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h3 {
  color: green;
}
button {
  background-color: green;
  width: 180px;
  height: 40px;
  margin-top: 15px;
  border-radius: 6px;
}
.ensembl1 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 10px -10px;
  background-color: #fff;
  margin-bottom: 10px;
}
div img {
  width: 500px;
  height: 450px;
}
.bloc1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 40px;
  margin-right: 20px;
  width: 220px;
  height: 310px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
}
.imag1 {
  width: 180px;
  height: 150px;
  /* margin: 10px; */
}
.bloc2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #fff;
  width: 1200px;
  height: 310px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h2 {
  color: rgb(223, 193, 155);
  margin: 10px;
}
p {
  margin: 10px;
}
.bloc2 img {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 8px solid grey;
}
.ensembl2 {
  display: flex;
  margin: 5px 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 10px -10px;
  padding-bottom: 20px;
  /* padding: 100px; */
}
.ensembl3 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
h1 {
  display: flex;
  justify-content: center;
  color: green;
  /* margin:20px; */
}
.division {
  background-color: #fff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  text-align: center;
}
.infoimg {
  width: 300px;
  height: 300px;
  margin: 4px 0px 0px 30px;
}
h5 {
  display: flex;
  justify-content: center;
}
h6 {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: gainsboro;
}
#vert {
  background-color: green;
  width: 350px;
  height: 50px;
  border-radius: 8%;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
.ensembl4 {
  width: 1000;
  height: 600px;
  /* background-size: cover; */
  background-position: center;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.186),
      rgba(0, 0, 0, 0.791),
      rgba(0, 0, 0, 0.905)
    ),
    url(image/imgbackround2.jpg);
  /* background-color: orange; */
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.partie1 {
  color: #fff;
}
#infoh2 {
  color: #fff;
  text-align: center;
}
.group {
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 10px -10px;
}
.group1 {
  width: 250px;
  height: 450px;
  background-color: #fff;
  margin: 50px 40px 0px 0px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
h4 {
  color: green;
}
.group1 img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  margin-top: 30px;
  border: 1px solid gray;
}
.ensembl5 {
  width: 1000;
  height: 650px;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* background-color: hsla(324, 3%, 33%, 0.346); */
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 10px -10px;
  display: flex;
  padding-bottom: 20px;
}
.ensembl5 img {
  width: 500px;
  height: 400px;
  margin: 40px;
}
.first {
  margin-bottom: 20px;
}
.first p {
  margin-bottom: 20px;
}
.second {
  display: flex;
}
.second img {
  width: 200px;
  height: 200px;
}
.ensembl6 {
  width: 1000;
  height: 200px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-image: linear-gradient(rgba(138, 71, 71, 0.186), black),
    url(image/imgbackround1jpg.jpg);
  padding-top: 40px;
}
.infoform {
  width: 450px;
  height: 30px;
  background-color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 30px 0px 20px 550px;
  padding: 10px;
}
.ensembl7 {
  width: 1000;
  height:max-content;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex-direction: column;
}
.sousensembl7{
  display: flex;
 justify-content: center;
 align-items: center;
}
.ensembl7 .group{
  width:max-content;
  height: max-content;
}
.ensembl7 .group1 {
  margin-top: 10px;
  width: 350px;
  height: 400px;
}
.firstparty h2 {
  color: green;
  /* text-align: center; */
  margin-top: 20px;
}
.ensembl8 {
  width: 1000;
  height: 700px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: linear-gradient(rgba(138, 71, 71, 0.186), black),
    url(image/imgbackround3.jpg);
}
.ensembl8 form {
  width: 450px;
  height: 30px;
  background-color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0px 0px 40px 550px;
}
.ensembl8 h4 {
  color: #fff;
  text-align: center;
  margin: 20px 0px 20px 0;
  font-size: 40px;
}
#Message {
  width: 450px;
  height: 100px;
  display: flex;
  justify-content: start;
}
.ensembl8 button {
  width: 450px;
  height: 40px;
  margin-left: 550px;
  margin-top: 6px;
}
.ensembl9 {
  width: 1000;
  height: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* background-image: url(image/imgbackround3.jpg);   */
  display: flex;
  gap: 100px;
  margin-top: 100px;
  color: #fff;
  background-color: black;
  padding: 10px;
}
.ensembl9 h3 {
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 20px;
}
.infofooter {
  width: 1600px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin-bottom: 5px;
}
/* info etoile vert */
i {
  color: green;
}
#etoile {
  margin-left: 90px;
}

/* responsivite tablette */
@media (width <= 768px) {
  ul {
    gap: 10px;
  }
  .bloc{
    width: 500px;
    margin-left: 5px;
  }
  .ensembl1 {
    padding: 40px;
  }
  .ensembl1 img{
    width: 200px;
    height: 200px;
  }
  /* #imagep {
    width: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */
  .ensembl2 {
    display: flex;
    /* justify-content: center;
 align-items: center;  */
    flex-direction: column;
    width: max-content;
    height: max-content;
  }
  .bloc1 {
    width: 700px;
    height: 300px;
    text-align: center;
    flex-direction: column;
  }
  .bloc2 {
    width: 700px;
    height: 400px;
    margin-left: 20px;
    text-align: center;
    flex-direction: column;
  }
  .ensembl3 {
    display: grid;
    grid-template-columns: auto auto;
    width: max-content;
    height: max-content;
  }
  .division {
    background-color: #fff;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    text-align: center;
  }
  /* .ensembl4{
    width: max-content;
    height: max-content;
  } */
  .group{
    width: 800px;
    height: 500px;
  }
  .group1 {
    width: 400px;
    height:400px;
    margin-top: 10px;
    gap: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
  .group1 img{
    margin-top: 10px;
  }
  .ensembl5 {
    height: max-content;
    width: max-content;
    margin: 20px;
    flex-wrap: wrap;
    padding: 40px;
    flex-direction: column;
  }
  .first {
    flex-direction: column;
  }
   /* .first img {
    flex-direction: column;
  } */
  .first p {
    width: 400px;
  } 
  .second {
    flex-direction: column;
  }
   #menu1 {
    flex-direction: column;
    margin-left: 5px;
  }
  #menu2 {
    flex-direction: column;
    margin-left: 5px;
  } 
  .second img {
    width: 400px;
    height: 300px;
  }
  .ensembl6 {
    width: 800px;
    height: max-content;
    /* margin: 20px; */
   }
    .infoform{
      margin-left: 40px;
    }
    .ensembl6 button{
      margin-bottom: 10px;  
  }
  .ensembl7 {
    height: max-content;
    /* margin: 40px; */
    width: 500px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
  }
  .ensembl7 .group{
   margin: 10px;
  }
   .ensembl7 .group1 {
    width: 200px;
    height: 500px; 
    padding: 20px;
    margin: 10px; 
    display: block;
   justify-content: center;
   align-items: center; 
  } 
   .ensembl8 form {
    width: 200px;
    height: 30px;
    margin-left:20px; 
 }
  .ensembl8 button{
    margin: 40px;
  }
   .infofooter {
    /* text-align: center; */
    margin-bottom: 10px;
  } 
  }
/* responsivite smartphone */

@media (width <= 576px) {
  ul {
    display: none;
  }
  .bloc {
    width: 300px;
  }
  .ensembl1 {
    height: max-content;
    flex-direction: column;
  }
  .ensembl1 img{
    width: 240px;
    height: 240px;
    margin-top: 10px;
  }
  /* #imagep {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* flex-direction: column;  */
    /* width: 10px;
    height: max-content;
    position: center;
  }  */
  .ensembl2 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
  }
  .bloc1 {
    width: 400px;
    height: max-content;
    margin-left: 0px;
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bloc2 {
    width: 400px;
    height: max-content;
    margin-left: 20px;
  }
  .imag1 {
    width: 250px;
    height: 250px;
    /* margin: 10px; */
  }
  .ensembl3 {
    display: grid;
    grid-template-columns: auto;
    /* gap:10px */
  }
  .division {
    background-color: #fff;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    text-align: center;
    width: 300px;
    height: max-content;
    margin-left: 10px;
    margin-right: 10px;
  }
  .infoimg {
    width: 200px;
    height: 200px;
    margin-top: 4px;
  }
  #vert {
    width: 300px;
    height: 50px;
  }
  #etoile {
    margin-left: 30px;
  }
  .ensembl4 {
    width:max-content;
  height: 1500px;
  }
  .partie1 {
    flex-direction: column;
  }
  .group {
    flex-direction: column;
    margin-top: 10px;
    width: max-content;
    height: max-content;
  }
  .group1 {
    width: 300px;
    height: 400px;
    margin:20px;
  }
  .ensembl5 {
    height: max-content;
    margin: 40px;
    flex-wrap: wrap;
  }
  .ensembl5 img {
    width: 300px;
    height: 250px;
  }
  .second img {
    width: 200px;
    height: 150px;
  }
  .first {
    flex-direction: column;
    margin-right: 10px;
  }
  .first p {
    width: 300px;
  }
  .second {
    flex-direction: column;
  }
  .ensembl6 {
    width: 400px;
    height: 200px;
  }
  .infoform {
    width: 200px;
    height: 25px;
    margin: 30px 0px 20px 70px;
  }
  /* .firstparty {
     display: flex;
    justify-content: center;
    align-items: center;
  }   */
   /* .ensembl7 { */

    /* height:max-content; */
    /* flex-direction: column;  */
     /* width:max-content;
    margin-right: 10px;
  }  */
   .sousensembl7{
    display: flex;
    justify-content: start;
    align-items:center;  
     flex-direction: column;
   /* height: max-content;
   width:300px;
   margin-right: 5px;  */
   margin:20px;
  } 
  .sousensembl7 .group1 {
    width: 350px;
    height: 400px;
    margin: 1px;
  } 
  /* .group1 P{
    width: 300px;
  } */
  /* .sousensembl7  .group {
    width: 350px;
    height: 400px;
    margin-left: 10px;
  }  */
  .ensembl8 { 
    width: 400px;
    height: max-content;
    flex-direction: column;
  }
  .ensembl8 form {
    width: 200px;
    height: 30px;
    margin: 0px 0px 40px 50px;
  }
  .ensembl8 h4 {
    /* display: flex;
 justify-content: center;
 align-items: center; */
    margin-top: 80px;
  }
  #Message {
    width: 250px;
    height: 50px;
    /* display: flex;
  justify-content: start; */
  }
  .ensembl8 button {
    width: 200px;
    height: 30px;
    margin-left: 50px;
    margin-top: 10px;
  }
  .ensembl9 {
    flex-direction: column;
    width: 400px;
    height: max-content;
    gap: 20px;
    margin-top: 10px;
  }
  .ensembl9 p {
    width: 350px;
  }
  .infofooter {
    width: 400px;
    height: max-content;
    text-align: center;
    padding-bottom: 10px;
  }
}
